<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplina</title>
</head>
<body>
    <main>
        <h1>Mostrando detalhes de {{disciplinas.nome}}</h1>
        <ul>
            <li>Nome: {{disciplinas.nome}}</li>
            <li>Professor: {{disciplinas.professor}}</li>
            <li>descricao: {{disciplinas.descricao}}</li>
        </ul>
        <button type="button" id="btn-avaliar" data-url="{% url 'avaliacao' disciplinas.id %}">Avaliar</button>
    </main>

    <script>
        document.getElementById('btn-avaliar').addEventListener('click', function() {
            window.location.href = this.dataset.url;
        });
    </script>
</body>
</html>