<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Nome" name="firstname">
        <input type="text" placeholder="Sobrenome" name="lastname">
        <input type="email" placeholder="E-mail" name="email">
        <input type="password" placeholder="Senha" name="senha">
        <button type="submit">Registrar-se</button>
        
    </form>
</body>
</html>