{% load static compress sass_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% sass_src 'scss/base.scss' %}">
</head>
<body>
    <form id="form-login" action="{% url 'login' %}" method="POST"> {% csrf_token %}
        <input type="text" name="username" placeholder="Usuário">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Entrar</button>
    </form>

    <button type="button" onclick="window.location.href='../cadastro/'">Registrar-se</button>
</body>
</html>